/* ##################################################################
 * this file is for everything that's REALLY site specific, not
 * layout specific
 */

@import "parameters.less";


.tabs_macro;
.verticaltabs;
.wireframes;


/* ==================================================================
 * basic html elements styled happily ever after
 * ================================================================== */


body {
  font-family: @sans;
}

/* ---------- links and link tags ----------------------------------- */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }


a.close, a.close:hover {
  float: right;
  font-size: 0px;
  text-indent: -5000px;
  margin-right: 5px;
  color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background: url('images/message_x.png') no-repeat center center;
  margin-left: 50px;
  margin-bottom: 10px;
}



/* ---------- ae_base specific: /wireframe --------------------------- */

/* These styles are for the wireframe page, located in ae_base */

.page-wireframe {
  .sidebar .block {
    padding-left: 0;
    padding-right: 0;
    .wireframe-box {
      border-right:0;
      border-left:0;
      border-radius: 0;
    }
  }

  .region-title {
    padding-top: 1em;
  }
  .region-sidebar-first .region-title, .region-sidebar-second .region-title{
    padding: 1em;
  }

  #wireframe-content_bottom {
    padding-top: .5em;
  }
  .block-ae-wireframes {
    .wireframe-box {
      background-color: #bacdb4;
      border: 1px solid #a1b19b;
      .rounded;
      height: 3em;
      margin-top: .5em;
    }
    ul{
      list-style-type:none;
    }
  }

  #banner .wireframe-box {
    height: 6em;
  }

  #main {
    background: #E3E3E3;
  }

  #content .section {
    padding: 1em 4%;
    background: #fff;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
  }

  .sidebar {

    a {
      font-weight: bold;
    }

    h2, h3 {
      font-family: @serif;
      font-style: italic;
      font-weight: bold;
      font-size: 100%;
    }
  }
  
  #wireframe-sidebar_a, #wireframe-sidebar_b {
    padding-top: .7em;
    .wireframe-box {
      border-left: none;
      border-right: none;
      border-radius:0;
      margin-right: -1em;
      margin-left: -1em;
    }
  }
}
#block-ae-wireframes-8 .twocol li, #block-ae-wireframes-11 .twocol li{
  width: 100%;
  clear: both;
}
.five #block-ae-wireframes-8 .twocol li, .five #block-ae-wireframes-11 .twocol li{
  width: 46.6%;
  clear:none;

}

/* ---------- drupal specific hacks ---------------------------------- */

ul.menu {
  list-style: none;

  li {
    list-style: none;
    background: none;
    margin-left: 0;
  }
}

.close {
  float: right;
}

/* ---------- text selection ---------------------------------------- */

::-moz-selection { background: @fmain; color: #fff; text-shadow: none; }
::selection { background: @fmain; color: #fff; text-shadow: none; }




@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* ==================================================================
 * media queries
 * ================================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

